body {
    background-color: blue;
    text-align: center;
    
}


p{
    color: brown;
    text-indent: 20px;
}
/* .card{
    
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
} */

#selected-city{
    font-weight: bold;
    color: white;
    font-size: 60px;
}

.title.is-1{
    font-weight: bold;
    color: white;
    font-size: 60px;
}
