body {
    background-color: skyblue;
    background-color: #2596BE;
    text-align: center;
    
}


p{
    color: black;
    text-indent: 20px;
}
/* .card{
    
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
} */

#selected-city{
    font-weight: bold;
    color: black;
    font-size: 60px;
}

.title.is-1{
    font-weight: bold;
    color: black;
    font-size: 60px;
}

.image{
    margin: auto;
    width: 20%;
   padding: 10px;
}

.title.is-1{
    
    color: white;
    font-size: 1rem;
}

#input-box{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    height: 40%;
    width: 60%;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#departure-city-airport-container{
    /* display: none; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    height: 20%;
    width: 60%;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    


}

#input-box{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    height: 40%;
    width: 60%;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#selected-city-weather-container{
    
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    height: auto;
    width: 60%;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#five-day-forecast-container{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    height: auto;
    width: 90%;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.column{
    flex-wrap: wrap;
}
.form{
   justify-content: space-evenly; 
}

footer {
    color: black;
}